body{
    background-image: url("https://www.yanmar.com/z/ltc/global/agri/smart_agri/img/93835403f0/bg_slide_01.jpg"); 
    background-repeat:no-repeat; 
    background-size:cover; 
}
.lbtn{
    transform: translate(150%,50%);
    background-color: yellow;
    border-radius: 1px;
    width: 10vmax;
    height: 50px;
    border-width: 1px;
}

.login-orm{
    width: 450px;
    top:  30%;
    left: 30%;
    transform: translate(-80%,-50%);
    position: absolute;
    color: yellow;
    font-size: larger ;
}

.d{
    transform: translate(0%,50%);
    background-color: blue;
    border-radius: 1px;
    width: 10vmax;
    height: 20px;
    border-width: 1px;
}