body { 
    background-image: url("https://img.staticmb.com/mbcontent//images/uploads/2023/1/Tax-on-Income-%20from-Agriculture%20(1).jpg"); 
     background-repeat:no-repeat; 
     background-size:cover; 
}  
    .menu{
        color: greenyellow;
        width: 400px;
        float: left;
        height: 70px;
    }
    .icon{
        width: 400px;
        float: center;
        height: 70px;
        color:  yellow;
    }
    .navbar{
        width: 1200px;
        height: 75px;
        margin: auto;
    }
    .search{
        width: 330px;
        float: left;
        margin-left: 270px;
    }
    .homebutton{
        width: 50px;
        float: center;
        height: 40px;
        color:  blue;
    }